*
!wp-content
!wp-content/plugins

!wp-content/plugins/clipkart-customization
!wp-content/plugins/clipkart-customization/**
wp-content/plugins/clipkart-customization/node_modules
wp-content/plugins/clipkart-customization/build
!wp-content/plugins/wdm-team-event-email-sender/**
!.gitignore